@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
}

#contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100vh;
  
  }
.txt{
  padding-top: 5%;
    font-weight: bold;
    color: #3F89EC;
    font-size: 1.1rem;
}
.a{
    display: flex;
    padding-top: 10%;
    color: #3F89EC;
    
}
.auto-img {
  position: absolute;
  bottom: 20px;
  left: calc(100vw - 120px); /* Ajusta la posición inicial para que la imagen comience fuera del contenedor */
  animation-name: moverAuto;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moverAuto {
  from {
    transform: translateX(0); /* Posición inicial horizontal del auto */
  }
  to {
    transform: translateX(calc(-100vw + 120px)); /* Posición final horizontal del auto (sentido contrario) */
  }
}