 <ion-content [fullscreen]="true">
  <div id="contenedor">
    <div class="head">
      <button class="volver" slot="start"><ion-icon name="arrow-undo-outline" [routerLink]="['/homepasajero']"></ion-icon></button>
      <h4>Solicitar asiento</h4>
    </div>
    <div *ngIf="viajeSeleccionado" class="noti">
      <div class="title">Detalles del viaje</div>
      <div class="Destino">Destino: {{ viajeSeleccionado.destino }}</div>
      <div class="hora">Hora comienzo: {{ viajeSeleccionado.hora }} </div>
    </div>
    <div class="campos">
      <div class="nombre" >
        Nombre:
        <input type="text" [(ngModel)]="agregar.nombrePas">
      </div>
      <div class="numero">
        N° Celular:
        <input type="text" [(ngModel)]="agregar.celular">
      </div>
      <div class="carrera">
        Carrera:
        <input type="text"[(ngModel)]="agregar.carrera">
      </div>
      <div class="obli">
        (*campos obligatorios*)
      </div>
      <div class="map-container">
        <div #map id="map"></div>
      </div>
      <div class="centro">
        <div class="btn"   (click)="mostrarLoading()" (click)="guardarPas()">
          Solicitar
        </div>
      </div>
  

    </div>

    






  </div>
 
</ion-content>
