<ion-content  [fullscreen]="true">
  <div id="contenedor">
    <div class="titulo">Iniciar sesión <ion-icon name="log-in-outline"></ion-icon></div>
    <br>

    <div id="campos">
      <div class="email">Email:  
        <input type="text" placeholder="Ingrese su email">
      </div>
      <div class="pass">Contraseña: 
        <input type="password" placeholder="Ingrese su contraseña">
      </div>
      <div class="btn">Ingresar</div>
      <div class="no">
        ¿No tienes cuenta? <div class="notengo" routerLink="/registro">Registrate aqui!</div>
        <a href=""> ¿Olvidaste tu contraseña?</a>
      </div>
    </div>



  </div>  
</ion-content>
