<ion-content [fullscreen]="true">

  <div id="contenedor">

    <div class="titulo">
      
      Viajes disponibles 
      <ion-icon name="car-outline"></ion-icon>
    </div>
    <div class="destino">
      <input type="text" placeholder="¿Donde vas?">
    </div>
    <div class="card">
      <div class="destino">Destino: algun lugar</div>
      <div class="conductor">Conductor: Miguel</div>
      <div class="asientos">Asientos disponibles: 4</div>
      <div class="precio">Precio: $1500</div>
    </div>
    <div class="card">
      <div class="destino">Destino: algun lugar</div>
      <div class="conductor">Conductor: Felipe</div>
      <div class="asientos">Asientos disponibles: 3</div>
      <div class="precio">Precio: $1500</div>
    </div>

    <div class="botones">
      <div class="volver" [routerLink]="['/home']">
        Volver
      </div>
      <div class="continuar" [routerLink]="['/confirmar-viaje-p']">
        Continuar 
      </div>
    </div>







  </div>
 



</ion-content>
