<ion-content [fullscreen]="true">

  <div id="contenedor">

    <div class="titulo">
      
      Viajes disponibles 
      <ion-icon name="car-outline"></ion-icon>
    </div>
    <div class="destino">
      <input type="text" placeholder="¿Donde vas?">
    </div>
    
    <div class="card" *ngFor="let viaje of viajes" >
      
      <div class="id">Id viaje: {{viaje.id}}</div>
      <div class="destino">Destino: {{viaje.destino}}</div>
      <div class="conductor">Conductor: </div>
      <div class="asientos">Asientos disponibles: {{viaje.asientos}}
      </div>
      <div class="precio">Precio: {{viaje.precio}}</div>
    </div>
    <div class="card"  >
      
      <div class="id">Id viaje: </div>
      <div class="destino">Destino:</div>
      <div class="conductor">Conductor: </div>
      <div class="asientos">Asientos disponibles: </div>
      <div class="precio">Precio: </div>
    </div>


    <div class="botones">
      <div class="volver" [routerLink]="['/home']">
        Volver
      </div>
      <div class="continuar" [routerLink]="['/confirmar-viaje-p']">
        Continuar 
      </div>
    </div>







  </div>
 



</ion-content>
