<ion-content [fullscreen]="true">
  <div class="header">
    <div class="pregunta">Ingresa tu destino <ion-icon name="pin-outline"></ion-icon></div>
  
    <input id="buscador" [(ngModel)]="toAdd.destino" (input)="updateSearchResults()" placeholder="Destino">
  
    <ion-list *ngIf="autocompleteItems && autocompleteItems.length > 0" class="custom-predictions-list">
      <ion-item class="custom-prediction-item" *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
   </div>
  <div id="contenedor">
   
    
    <div class="map-container">
      <div #map id="map"></div>
    </div>  

    <div class="campos">
      <div class="asientos">
        <span>Asientos disponibles:</span>
        <input type="text" maxlength="1" [(ngModel)]="toAdd.asientos"> 
      </div>
      <div class="precio">
        <span>Precio:</span>
        <input type="text" maxlength="4" [(ngModel)]="toAdd.precio"> 
      </div>
      <div class="hora">
        <span>Hora de salida:</span>
        <input type="text" id="horaSalida" [(ngModel)]="toAdd.hora">
      </div>
    </div>


  </div>
  <div class="botones">
    <div class="volver" [routerLink]="['/home']">
      Volver
    </div>
    <div class="guardar" (click)="crearViaje()"  [routerLink]="['/confirmar-viaje-ch']"> 
      Guardar viaje
    </div>

  </div>
  
  
</ion-content>
