<ion-content  [fullscreen]="true">
  <div id="contenedor">
    <div class="titulo">Registrate en Te llevo App!</div>
    <br>
    <div class="campos">
      <div class="user">
        Nombre: 
        <input type="text" placeholder="Ingrese su nombre">
      </div>
      <div class="email">
        Email:
        <input type="text" placeholder="Ingrese su email">
      </div>
      <div class="clave">
        Contraseña:
        <input type="password" placeholder="Ingresa tu contraseña">
        <input type="password" placeholder="Confirma tu contraseña">
      </div>
    </div>
    <div class="btnes">
      <div class="btn" routerLink="/home">Cancelar</div>
      <div class="btn" routerLink="/home">Registrar</div>
    </div>



  </div>  
</ion-content>
