<ion-content  [fullscreen]="true">
  <div id="contenedor">
    <div class="titulo">Registrate en Te llevo App!</div>
    <br>
    <div class="campos">
      <div class="user">
        Nombre: 
        <input type="text" class="inp" placeholder="Ingrese su nombre" [(ngModel)]="usuario.nombre" required>
      </div>
      <div class="email">
        Email:
        <input type="text"  class="inp" placeholder="Ingrese su email" [(ngModel)]="usuario.correo" required>
      </div>
      <div class="clave" >
        Contraseña:
        <input type="password" class="inp" placeholder="Ingresa tu contraseña"  required>
        <input type="password" class="inp" placeholder="Confirma tu contraseña"  required> 
      </div>
    </div>


    <div class="como">¿Cómo viajas?</div>
    <div class="elegir">
      <div class="r1">
        <label>Pasajero
        <input type="radio"  ></label>
      </div>
      <div class="r2">
        <label>Chofer
        <input type="radio" ></label>
      </div> 
    </div>

    
    
    <div class="btnes">
      <div class="btn" routerLink="/home">Cancelar</div>
      <div class="btn" routerLink="/login" >Registrar</div>
    </div>


  </div>  
</ion-content>
