<ion-content  [fullscreen]="true">
  <div id="contenedor">
    <div id="contenedornew">
      <button class="volver" slot="start"><ion-icon name="arrow-undo-outline" [routerLink]="['/login']"></ion-icon></button>
      <div class="titulo">Recuperar contraseña<ion-icon name="log-in-outline"></ion-icon></div>
      <br>
  
      <div id="campos">
        <div class="email">Email:  
          <input type="text" placeholder="Ingrese su email">
        </div>

        <div class="btn"  (click)=presentAlert()>Recuperar</div>

      </div>
  
    </div>
  </div>  
</ion-content>
